doctype
html
    head
        link(href='http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    body
        .container
            .row
                .col-md-3
                .col-md-6
                    h2 Great #{user.first_name} you are registered!
                    hr